<h1>Restaurant Login</h1>
  
<%= form_tag('/restaurants/login', method: :post, :class => 'ui form') do %>
  <%= label_tag("Restaurant Username: ") %>
  <%= text_field_tag(:restusername) %>
  <%= label_tag("Password: ") %>
  <%= password_field_tag(:password) %>
  <%= submit_tag("Login") %>
<% end %>

<%= button_to "Register your restaurant", new_restaurant_path, method: :get %>

<%= button_to "Home", "/", method: :get %>
