<div class='container'>

<div class="ui card first">
  <div class="image">
    <img src=<%=@user.img_url%>>
  </div>
  <div class="content">
    <a class="header"><%= @user.name%></a>
    <div class="meta">
      <span class="date">Joined in <%= @user.created_at.year%></span>
    </div>
    <div class="description">
      <%= button_to "Make an Order!", new_order_path, method: :get %> 
    </div>
  </div>
  <div class="extra content">
    <a> 
    	<div class="logout"> <%= button_to "Logout", users_logout_path, method: :delete %> </div>
    </a>
  </div>
</div>

	<div class="orders">
		<h4>Last 5 Orders:</h4> <br>

		<% @last_5_orders.each do |order| %>
		    <ul>
		        <li>
		            <h4>Order#: <%= link_to(order.id, order_path(order)) %>, Order placed: <%= order.created_at%></h4>
		        </li>
		    </ul>
		<% end %>
	</div>
</div>