<div class='container'>
<h1><%=@restaurant.name%></h1><br>

<% if flash[:info] %>
  <p style="color: red;"><%= flash[:info] %></p>
<% end %>

<h1>Menu</h1>

<%= form_tag orders_path do %>
  <% @restaurant_menu.each do |item| %>
  	<img src=<%=item.img_url%>><br>
  	<h4><%=item.name%></h4><%= number_field_tag("order_items[#{item.name}]", value = 0, min: 0, step: 1) %><br />
  <% end %>
  <%= hidden_field(:restaurant, :id) %>

  <%= submit_tag "Submit Order" %>
<% end %>
</div>