<h1><%=@restaurant.name%></h1><br>

<% if flash[:info] %>
  <p style="color: red;"><%= flash[:info] %></p>
<% end %>

<h1>Menu</h1>

<%= form_for @restaurant, :url => url_for(:controller => 'orders', :action => 'create') do |f| %>
  <% @restaurant_menu.each do |item| %>
  	<%= number_field_tag("order_items[][#{item.name}]", value = 0) %><br />
  <% end %>
  <%= f.hidden_field(:restaurant, :id) %>
  <%= f.submit %>
<% end %>
