<div class='container'>
<h1>Order Number #<%=@order.id%></h1>

<ul>
	<%@itemized.each do |item|%>
		<li><%=item.name%>: <%=item.price%></li>
	<% end %>
</ul>

<h3>Total: <%=@total%></h3>

<%= button_to "Return to your profile page", user_path(@order.user), method: :get %>
</div>