<h1><%=@restaurant.name%></h1>

<% if flash[:info] %>
  <p style="color: red;"><%= flash[:info] %></p>
<% end %>

<% @restaurant_menu.each do |item| %>
        <ul>
                <li>
                		<img src=<%=item.img_url%> >
                		<br>
                        <%=item.name%>
                        <br>
                        <%=item.description%>
                        <br> 
                        $<%=item.price%>
                        <br>
                        <% if @current_rest && @current_rest.id == @restaurant.id %>
							<%= button_to "Edit this Item", edit_menu_item_path(item), method: :get %>
						<% end %>

                </li>
        </ul>
<% end %>

<% if @current_rest && @current_rest.id == @restaurant.id %>
	<%= button_to "Edit Restaurant Info", edit_restaurant_path(params[:id]), method: :get %>
	<br>
	<%= button_to "Add a Menu Item to Your Restaurant", new_menu_item_path, method: :get %>
	<br>
	<%= button_to "Logout", restaurants_logout_path, method: :delete %>
<% end %>