<div class="ui card first">
  <div class="image">
    <img src=<%=@restaurant.img_url%>>
  </div>
  <div class="content">
    <a class="header"><%=@restaurant.name%></a>
    <div class="meta">
      <span class="date">Joined in <%=@restaurant.created_at.year%></span>
    </div>
    <div class="description">
        <% if @current_rest && @current_rest.id == @restaurant.id %>
            <%= button_to "Edit Restaurant Info", edit_restaurant_path(params[:id]), method: :get %>
            <%= button_to "Add a Menu Item to Your Restaurant", new_menu_item_path, method: :get %>
        <% end %>
    </div>
  </div>
  <div class="extra content">
    <a>
        <% if @current_rest && @current_rest.id == @restaurant.id %>
            <%= button_to "Logout", restaurants_logout_path, method: :delete %>
        <% end %>
    </a>
  </div>
</div>


<h1>Menu</h1>

<center>

<% @restaurant_menu.each do |item| %>

                        <div class="ui card">
                          <div class="image">
                            <img src=<%=item.img_url%>>
                          </div>
                          <div class="content">
                            <a class="header"><%=item.name%></a>
                            <div class="meta">
                              <span class="date">Joined in 2013</span>
                            </div>
                            <div class="description">
                              <%=item.description%>
                              $<%=item.price%>
                            </div>
                          </div>
                          <div class="extra content">
                            <a>
                                <% if @current_rest && @current_rest.id == @restaurant.id %>
                                    <%= button_to "Edit this Item", edit_menu_item_path(item), method: :get %>
                                <% end %>
                            </a>
                          </div>
                        </div>
<% end %>

</center>