<!DOCTYPE html>
<html>
  <head>
    <title>Deliverd</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<<<<<<< d520c0dd9d7ccc17dfca1d19ebb2df6763a7e851
<<<<<<< d520c0dd9d7ccc17dfca1d19ebb2df6763a7e851
    <%= yield %>
=======
=======
<<<<<<< HEAD
<<<<<<< d520c0dd9d7ccc17dfca1d19ebb2df6763a7e851
>>>>>>> un committed css files
=======
<<<<<<< HEAD
>>>>>>> working on reverting files
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #D0091B !important;">
  <a class="navbar-brand" href="#">Deliverd</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
</nav>
<div class='container'>
  <%= yield %>  
</div>

<<<<<<< d520c0dd9d7ccc17dfca1d19ebb2df6763a7e851
>>>>>>> Working on bootstrap
=======
=======
    <%= yield %>
>>>>>>> parent of cb0df78... added bootstrap to the whole app
<<<<<<< d520c0dd9d7ccc17dfca1d19ebb2df6763a7e851
>>>>>>> un committed css files
=======
=======
    <%= yield %>
>>>>>>> parent of cb0df78... added bootstrap to the whole app
>>>>>>> working on reverting files
  </body>
</html>
